html {
  background-color: #c9b5ae;
}

h1, h2 {
  color: #471c38;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

nav,
.top-link {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  color: #99213d;
  list-style-type: none;
}

a:link {
  color: #99213d;
  text-decoration: none;
}

a:hover {
  color: #471c38;
  text-decoration: underline;
}

figcaption {
  font-style: italic;
  text-align: center;
}

.lg-text {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 1.2rem;
}

.body-text {
  font-family: 'PT Serif', serif;
}

blockquote {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-size: 1.5rem;
}

.chris-pratt {
  font-size: 1rem
}

.cv {
  font-family: 'PT Serif', serif;
  list-style-type: lower-greek;
}
h2 + p {
  font-style: italic;
}

dl, ul, footer {
  font-family: 'PT Serif', serif;
}

dt {
  font-weight: bold;
}

ul {
  list-style-type: circle;
}
